html {

  height: 100vh;
  overflow: hidden;

}

body {

  	min-height: 100%;
    font-size: 1.2em;
  	font-family: 'Open Sans', sans-serif;

    color: $global_textColor;
}

// button
.primary-color{
  color: $global_primaryColor;
}


button, .btn{
  background-color: $global_primaryColor;
  border : none;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
  &:hover  {background-color: $global_primaryColorLight;}
  &:focus {outline: none;}
}



// Reset bootstrap margin
.container-fluid, .row, .container{
  margin: 0;
  padding: 0;
}
