html {

  height: 100vh;
  overflow: hidden;

}

body {

  	min-height: 100%;
    font-size: 1.2em;
  	font-family: 'Open Sans', sans-serif;

    color: $global_textColor;
}

#map {
	height: 100vh;
	width: calc(100% - 400px);
  position: absolute;
  right: 0;
  top : 0;
}

button, .btn{
  background-color: $global_primaryColor;
  border : none;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
  &:hover  {background-color: $global_primaryColorLight;}
  &:focus {outline: none;}
}



// Reset bootstrap margin
.container-fluid, .row, .container{
  margin: 0;
  padding: 0;
}
